{# templates/registration/login.html #}
{% extends "base.html" %}

{% block title %}Login|MasterEn{% endblock %}

{% block body-id %}loginpage{% endblock %}

  {# <h1>LOGIN</h1> #}
{% block content %}

<div class="container">
    <div class="row">
        <form class="form-signup col-md-6 col-md-offset-3" role="form"
              method="post" action="{% url 'login' %}">
          <h2 class="form-signin-heading">Login to Your Account</h2>

          {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          {% endif %}

          {% csrf_token %}
          <table>
          <div class="form-group">
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          </div>

          <div class="form-group">
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
          </div>
          </table>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div>
    </br>
    {# Assumes you setup the password_reset view in your URLconf #}
    {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
    <p><a href="#">Lost password?</a></p>

</div>

{% endblock %}