{# backend/templates/backend/index.html #}
{% extends "base.html" %}

{% block title %}Index|MasterEn{% endblock %}

{% block body-id %}masteren_app_indexpage{% endblock %}

{% block content %}


<div class="jumbotron">
    <div class="container">
			<h1>This Is back-end</h1>

			<h2>Dynamic content</h2>

			<p>The backend has the following record counts:</p>
			<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		{# left, main area #}
		<div class="col-md-8">
			<form id="transform" name="transform" action="" method="POST"
			      class="form-contact" role="form">
				<h2>Translate</h2>

			    <div class="form-group">
					<div id="enter">
						<label >翻译：</label>
						{# TODO: fobbiden Enter press to post(refresh) #}
						<input id="translate" name="translate" class="form-control" />
							<button type="button" id="btnTranslate" name="btnTranslate"
									onclick="translate_that();"
							    	{# class="btn btn-sm btn-primary btn-block"> #}
									class="btn btn-primary">
								翻译</button>
					</div>
				</div>

				{% csrf_token %}
			</form>

			<div id="display_result">
				<p id="result" name="result"></p>
			</div>
		</div>


		{# right-side, recommender #}
		<div class="col-md-4">
			<h2>Recently</h2>

			<table id="recently_trans" class="table">
				<tbody>
				{% for eachTrans in recently5trans %}
					<tr>
						<td>{{ eachTrans.word }}:</td>
						<td>{{ eachTrans.result }}</td>
						<td>{{ eachTrans.times }} times</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<h2>Mostly</h2>
			<table id="most_trans" class="table">
				<tbody>
				{% for eachTrans in most5trans %}
					<tr>
						<td>{{ eachTrans.word }}:</td>
						<td>{{ eachTrans.result }}</td>
						<td>{{ eachTrans.times }} times</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<hr>
	<div class="row">
		<div class="col">
			<div id='logout_btn'>
				<button onclick="{location.href='{% url 'logout' %}'}"
						class="btn btn-link">
					Logout</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function translate_that(){
		console.log("heheda");
		txt = $("#translate").val();
		token = $("input[name='csrfmiddlewaretoken']").val();
		$.post("{% url 'backend:translate' %}",
				{
					"translate": txt,
					"csrfmiddlewaretoken": token,
				},
				function show_result(data, status){
					$("#result").text(txt + ": " + data.ret);
				},
				"json");
		return false;
	}
</script>
{% endblock %}