{# backend/templates/backend/index.html #}
{% extends "base.html" %}

{% block title %}Index|MasterEn{% endblock %}

{% block body-id %}masteren_app_indexpage{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col">
			<h1>This Is back-end</h1>

			<h2>Dynamic content</h2>

			<p>The backend has the following record counts:</p>
			<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
		</div>
	</div>

	<div class="row">
	{# <form id="transform" name="transform" action="{% url backend:'translate' %}" method="POST"> #}
	<form id="transform" name="transform" action="" method="POST"
	      class="form-contact col" role="form">
		<h2>Translate</h2>

	    <div class="form-group">
			<div id="enter">
				<label >翻译：</label>
				{# TODO: fobbiden Enter press to post(refresh) #}
				<input id="translate" name="translate" class="form-control" />
					<button type="button" id="btnTranslate" name="btnTranslate"
							onclick="translate_that();"
					    	{# class="btn btn-sm btn-primary btn-block"> #}
							class="btn btn-primary">
						翻译</button>
			</div>
		</div>

		{% csrf_token %}
	</form>
	</div>

	<div class="row">
		<div class="col">
			<div id="display_result">
				<p id="result" name="result"></p>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col">
			<div id='logout_btn'>
				<button onclick="{location.href='{% url 'logout' %}'}"
						class="btn btn-link">
					Logout</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function translate_that(){
		console.log("heheda");
		txt = $("#translate").val();
		token = $("input[name='csrfmiddlewaretoken']").val();
		$.post("{% url 'backend:translate' %}",
				{
					"translate": txt,
					"csrfmiddlewaretoken": token,
				},
				function show_result(data, status){
					$("#result").text(txt + ": " + data.ret);
				},
				"json");
		return false;
	}
</script>
{% endblock %}